/* 首页字体 */
@font-face {
    font-family: 'arzhu';
    src: url('https://cdn.jsdelivr.net/gh/zjwo/CDN@master/font/arzhu.ttf');
    font-display: swap
}

h1#site-title {
    font-family: arzhu !important
}

span#subtitle {
    font-family: arzhu !important
}

a#site-name {
    font-family: arzhu !important
}

