@font-face {
    font-family: "iconfont";
    /* Project id 2559060 */
    src: url('//at.alicdn.com/t/font_2559060_mu9wfjksjm.woff2?t=1621426727302') format('woff2'),
        url('//at.alicdn.com/t/font_2559060_mu9wfjksjm.woff?t=1621426727302') format('woff'),
        url('//at.alicdn.com/t/font_2559060_mu9wfjksjm.ttf?t=1621426727302') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
    content: "\e600";
    font-size: 20px;
    color: #CB321E;
}

.icon-csdn1:before {
    content: "\e638";
    font-size: 20px;
    color: #CB321E;
}

.icon-git-copy:before {
    content: "\e601";
    font-size: 20px;
    color: #6F7790;
}

.icon-bokeyuan:before {
    content: "\e602";
    font-size: 20px;
    color: #4395D5;
}

.icon-cnblogs:before {
    content: "\e603";
    font-size: 20px;
    color: #4395D5;
}

.icon-youxiang:before {
    content: "\e604";
    font-size: 17px;
    color: #4190F7;
}

.icon-youxiang1:before {
    content: "\e830";
    font-size: 20px;
    color: #4190F7;
}

.icon-telegram:before {
    content: "\e749";
    font-size: 20px;
    color: #58A9E2;
}
